.backDrop-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

.backDrop-off {
  width: initial;
  height: initial;
  position: initial;
  display: none;
}

.container {
  position: relative;
}

.withBackDrop {
  z-index: 9999;
}